.row {
	height: 100vh;

	.form-container {
		form {
			margin-top: 15px;
		}
	}

	.messages { 
		background: linear-gradient(to right, #86A8E7, #7F7FD5);
		

		#messages {
			overflow-y: auto;
			height: 100vh;
		}
	}
}

@media (max-width: 991px) {
	#messages {
		height:60vh !important;
	}

	.form-container {
		form {
			height: 40vh !important;
		}
	}
}

// imports

@import 'modules/_message';
