.new-message {
    &:first-child {
        margin-top: 15px;
    }

    div {
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        display: block;
        border-radius: 25px;
        padding: 10px 15px;
    }

    .message-receive {
        background-color: #82ccdd;
        margin-left: 10px;
    }

    .connect-message {
        background-color: #555;
        color: white;
    }

    .message-send {
        background-color: #78e08f;
        margin-right: 10px;
    }
}